.hidden {
    display: none;
}

.form-box-addrecord form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-preview-box {
    border: black 1px solid;
    background-color: white;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.add-cover {
    cursor: pointer;
    margin: 0;
}

.add-cover:hover {
    color: gray;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.cover-preview {
    display: flex;
    justify-content: center;
}

.cover-preview img {
    width: 200px;
    height: auto;
}

.grade-box {
    display: flex;
    align-items: center;
}

.star-rating {
    cursor: pointer;
    display: flex;
    gap: 1%;
}

.star {
    font-size: 25px;
}

.star-selected {
    color: rgb(229, 199, 1);
}

.star-unselected {
    color: grey;
}

.label-input input {
    width: 300px;
}

.label-input select {
    width: 200px;
    padding: 4px 5px;
}

.comment-box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

#comments {
    padding: 5px;
}
