.filters-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters-title-list {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters-list {
    list-style: none;
    display: flex;
}

.filters-list li {
    margin-right: 20px;
    border: 1px solid rgb(187, 195, 195);
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.filters-list li.active {
    background-color: rgb(134, 25, 114, 0.9);
    color: rgb(241, 239, 236);
}

.filters-list li:hover {
    background-color: rgb(134, 25, 114, 0.9);
    color: rgb(241, 239, 236);
}

#search {
    width: 300px;
    padding: 10px 20px;
    margin-top: 0;
    margin-bottom: 40px;
    border-radius: 30px;
    border: 1px solid rgb(187, 195, 195);
}