.header-global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(241, 239, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title h1 {
    font-family: 'Dancing Script', 'Roboto', sans-serif;
    margin: 0 0 0 20px;
    max-width: 200px;
}

.header-nav {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
}

.header-link {
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

.header-link:hover {
    color: rgb(134, 25, 114);
}

.header-nav .active {
    text-decoration: underline;
}

.disconnect {
    color: red;
}

.disconnect:hover {
    color: red;
    text-decoration: underline;
}

@media screen and (max-width: 1027px) {
    .logo-title img {
        height: 75px;
        width: 75px;
    }
    
    .logo-title h1 {
        font-size: 1.7em;
    }

    .header-link {
        font-size: 0.9em;
        margin-left: 30px;
    }

}

@media screen and (max-width: 933px) {
    .header-nav {
        display: none;
    }

    .menu {
        cursor: pointer;
        display: none;
        position: relative;
        font-size: 28px;
        margin: 60px 0px 40px 30px;
        display: block;
    }

    .menu-icon {
        cursor: pointer;
        transition: transform 0.5s ease; /* prend 0.5sec pour transformer l'icône  */
    }
    
    .menu-icon:hover {
        transform: scale(1.3); /* grossit l'icône selon l'échelle  */
    }
    
    .menu-icon-active {
        animation: rotateIcon 1s ease forwards; /* commence la rotation de l'icône */
    }
    
    @keyframes rotateIcon {
        from {
            transform: rotate(0deg); /* rotation de 0deg à... */
        }
        to {
            transform: rotate(180deg); /* ...180deg */
        }
    }

    .menu-links {
        background-color: rgb(241, 239, 236);
        border: 1px black solid;
        border-radius: 10px;
        padding: 10px 35px;
        position: absolute;
        flex-direction: column;
        top: 45px;
        left: -120px;
        display: flex;
        opacity: 0; /* Initially hide the menu */
        transition: opacity 0.3s ease; /* Add transition for smooth opacity change */
    }
    
    .menu-links.show {
        opacity: 1; /* Show the menu when it's open */
    }

    .menu-links .active {
        font-weight: 600;
        color: rgb(22, 87, 14);
    }

    .menu-header-link {
        font-size: 18px;
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        border-bottom: 1px dotted black;
        padding: 13px 0;
    }

    .menu-header-link:hover {
        color: rgb(134, 25, 114);
    }

    .contact {
        border-bottom: unset;
    }

    .disconnect {
        color: red;
        border-bottom: unset;
    }
    
    .disconnect:hover {
        color: red;
        text-decoration: underline;
    }
}

@media screen and (max-width: 574px) {
    .header-global {
        padding-left: 50px;
        padding-right: 50px;
    }

    .menu {
        margin-left: 50px;
    }

    .menu-header-link {
        font-size: 15px;
    }

    .logo-title img {
        height: 65px;
        width: 65px;
    }
    
    .logo-title h1 {
        font-size: 1.5em;
    }
}