.header-global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-nav {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

.header-link:hover {
    color: rgb(134, 25, 114);
}

.header-nav .active {
    text-decoration: underline;
}