h2 {
    font-family: 'Dancing Script', 'Roboto', sans-serif;
    font-size: 2em;
    margin-right: 15px;
}

.modal-header {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.modal-content-box {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    row-gap: 20px;
}