.grid-myrecords {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.11%;
    row-gap: 40px;    
}

.rxcross1-miniature {
    position: absolute;
    cursor: pointer;
    color: red;
    background-color: rgb(241, 239, 236, 0.7);
    left: 2px;
    top: 2px;
}

.image-myrecords {
    position: relative;
    width: 9%;
    height: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

.image-myrecords img {
    width: 100%;
    height: 100%;
}

.image-alone {
    position: relative;
    width: 300px;
    height: auto;
}

.image-pair {
    width: 200px;
    height: auto;      
}

.image-pair img {
    width: 100%;
    height: 100%;   
}

.image-pair:hover {
    cursor: pointer;
    width: calc(200px - 4px);
    border: 2px solid rgb(134, 25, 114);   
}

.image-alone img {
    width: 100%;
    height: 100%;
}

.image-alone:hover {
    cursor: pointer;
    width: calc(300px - 4px);
    border: 2px solid rgb(134, 25, 114);
}

.image-myrecords:hover {
    cursor: pointer;
    width: calc(9% - 4px);
    border: 2px solid rgb(134, 25, 114);
}

@media screen and (max-width: 1450px) {
    .grid-myrecords {
        gap: 4%;
        row-gap: 40px;     
    }

    .image-myrecords {
        width: 22%;
        height: auto;
    }

    .image-myrecords:hover {
        width: calc(22% - 4px);
    }
}

@media screen and (max-width: 934px) {
    .grid-myrecords {
        gap: 4%;
        row-gap: 40px;     
    }

    .image-alone {
        width: 250px;
        height: auto;
    }
    
    .image-alone:hover {
        width: calc(250px - 4px);
    }

    .image-myrecords {
        width: 30.6%;
        height: auto;
    }

    .image-myrecords:hover {
        width: calc(30.6% - 4px);
    }
}

@media screen and (max-width: 496px) {
    .grid-myrecords {
        gap: 8%;
        row-gap: 30px;     
    }

    .image-alone {
        width: 250px;
        height: auto;
    }
    
    .image-alone:hover {
        width: calc(250px - 4px);
    }

    .image-myrecords {
        width: 46%;
        height: auto;
    }

    .image-myrecords:hover {
        width: calc(46% - 4px);
    }
}