.grid-myrecords {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    row-gap: 40px;    
}

.image-myrecords {
    width: 18%;
    height: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

.image-alone {
    width: 300px;
    height: auto;
}

.image-alone:hover {
    cursor: pointer;
    width: calc(300px - 4px);
    border: 2px solid rgb(134, 25, 114);
}

.image-myrecords:hover {
    cursor: pointer;
    width: calc(18% - 4px);
    border: 2px solid rgb(134, 25, 114);
}

h2 {
    font-family: 'Dancing Script', 'Roboto', sans-serif;
    font-size: 2em;
}

.modal-content-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media screen and (max-width: 1450px) {
    .grid-myrecords {
        gap: 4%;
        row-gap: 40px;     
    }

    .image-myrecords {
        width: 22%;
        height: auto;
    }

    .image-myrecords:hover {
        width: calc(22% - 4px);
    }
}

@media screen and (max-width: 934px) {
    .grid-myrecords {
        gap: 4%;
        row-gap: 40px;     
    }

    .image-alone {
        width: 250px;
        height: auto;
    }
    
    .image-alone:hover {
        width: calc(250px - 4px);
    }

    .image-myrecords {
        width: 30.6%;
        height: auto;
    }

    .image-myrecords:hover {
        width: calc(30.6% - 4px);
    }
}